#customize-controls .control-section-section-pro .accordion-section-title,
#customize-controls .control-section-section-pro .accordion-section-title:hover,
#customize-controls .control-section-section-pro .accordion-section-title:focus {
	background-color: none;
	color: #555d66;
}

.control-section-section-pro .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-section-pro .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
