/* = sidebar
-------------------------------------------------------------- */
.home #sidebar{ margin: 0; }
#sidebar{ margin: 24px 0 0 0; }
#sidebar .container{width: 100%; }
aside.widget{margin-bottom:30px; background-color:#f9f9f9; padding:20px; border:1px solid #edecec;}
aside.widget ul{ list-style:disc; margin: 0; padding: 0; }
h3.widget-title, #sidebar .widget_block h2, #sidebar .widget_block .wp-block-search__label { background-color: #00bded; padding: 12px 15px; margin-bottom: 1px; color: #ffffff;font-size: 18px;font-weight: normal;margin-top:0;margin-bottom:15px;}
#sidebar ul li{ list-style:none;}
#sidebar ul li a{ padding:5px 0 5px 5px; color:#3b3b3b; border-bottom:none; display:block; }
#sidebar ul li a:hover{ color:#00bded;}
#sidebar ul li:last-child a{ border:none;}
.single .form-submit {    text-align: left;}
#submit, .btn.btn-default{ background: #00bded; border: none; color: #fff; padding: 5px 10px;}
#submit:hover, .btn.btn-default:hover{ background: #00bded; border: none; color: #fff;}
#commentform label{ width: 100%; text-align: left; }
#commentform #comment{width: 90%; text-align: left;}
#commentform .form-submit{text-align: left;}
#commentform .form-submit input{ width: auto; }
#commentform input{ width: 90%; }
.post-comment a{ color:#999; text-decoration:underline;}

/*slider */
.homeslider img{ width: 100%; }


/* Buttons */
.button{ background-color:inherit; border-bottom:none; color:#fff; border: 1px solid #ffffff; padding:8px 20px; display:inline-block; border-radius:0; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#00bded; border-color:#1898c2; color:#fff;}
a.learnmore {background: #00bded;
             color: #fff;
             padding: 10px 14px;
             display: inline-block; text-decoration:none;}
a.learnmore:hover{background:#00bded;color: #fff; text-decoration:none;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#f6f4f4;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'raleway',san-serif; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'raleway',san-serif; color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;  height: 1px;width: 1px; overflow: hidden;}
.screen-reader-text:focus { background-color: #f1f1f1;  border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important;  color: #21759b; display: block;
                            font-size: 14px;font-size: 0.875rem;font-weight: bold;  height: auto;left: 5px; line-height: normal;padding: 15px 23px 14px;text-decoration: none;  top: 5px; width: auto;
                            z-index: 100000; /* Above WP toolbar. */
}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#f6f4f4; width:auto; border:none; cursor:pointer; font:18px 'raleway',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;} 

/* header */
.slide_info{background-color: rgba(37, 39, 64, 0.5);padding: 15px;width: auto;float: right;}
.carousel-caption {   right:9%; 
    width: auto;    
    bottom:100px; 
    text-align: right;
}
.carousel-caption h3{margin-top: 6px;margin-bottom: 16px; text-transform: capitalize; color: #ffffff; text-shadow: none; font-size:30px; font-weight:600;}
.captiontext{ font-size: 16px; color: #ffffff; font-weight: normal; text-shadow: none; }
.icon-bar{ background: #fff; }
.navbar-toggle{border: 1px solid #000;}

/* resource section */
section#pageboxes {    padding: 50px 0 ; }
.fourbox{ color:#00bded; width:23.9%; float:none; margin:0 .4% 0; text-align:center; position:relative; min-height:280px;padding:0; background:#ffffff; display: inline-block; vertical-align: top;
          box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);
          -moz-box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);
          -webkit-box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);}
.threebox{ color:#00bded; width:31.8%; float:none; margin:0 .4% 0; text-align:center; position:relative; min-height:280px;padding:0; background:#ffffff; display: inline-block; vertical-align: top;}

.mainresourcebox{ padding:5px 5px 13px;}
#pageboxes .pageclmn { display: inline-block; text-align: center; }
.fourbox:hover .thumbbx img{opacity: 0.8;}
.fourbox p{line-height:20px; text-align: left; }
.fourbox h3{ font-size:18px; font-weight:400; color:#00bded; margin:15px 0;}
.fourbox:hover h3{ color:#28374a;}

.threebox:hover .thumbbx img{opacity: 0.8;}
.threebox p{line-height:20px; text-align: center; color:#666666; font-size:16px; }
.threebox h3{ font-size:18px; font-weight:400; color:#00bded; margin:12px 0;}
.threebox:hover h3,
.threebox:hover p{ color:#ffffff;}
.threebox:hover {background-color: #00bded;}

.threebox:hover a.rdmore {color: #00bded; background-color: #ffffff;}


.resourcebox{ border: none; padding: 5px;  text-align: center;}
.top-resourcebox{ border:none; padding: 5px; text-align: center; }
.top-resourcebox a{text-decoration:none;}
.fourbox .resourcebox p{ text-align: center; }
.fourbox .thumbbx {    border: 0;    width: auto;    height: auto;    overflow: hidden;    margin: 0 auto 0;    border-radius: 0;    -moz-border-radius: 50%;    -wbkit-border-radius: 50%;}
.fourbox .thumbbx img { width: 100%;  height: auto; min-height:auto;  margin: 0 0 0 0;}
.fourbox a.rdmore {    color: #ffffff;    background-color: #00bded;    text-decoration:none;}

.threebox .resourcebox p{ }
.threebox .thumbbx {padding:0;    border: 0;    width: auto;    height: auto;    overflow: hidden;    margin: 0 auto 0;    border-radius: 0;    -moz-border-radius: 50%;    -wbkit-border-radius: 50%;}
.threebox .thumbbx img { width: 100%;  height: auto; min-height:auto;  margin: 0 0 0 0;}
.resourcebutton{ text-align:center;}
.threebox a.rdmore {    color: #ffffff;
    background-color: #00bded; text-decoration:none;
    margin-top: 25px;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #00bded;
    width: auto;}

a.rdmore {    background: #00bded;    background-color: rgb(51, 51, 51);    color: #ffffff;    margin-top: 25px;    display: inline-block;    padding: 5px 15px;    border: 1px solid #A8B1B8;    width: auto;}

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'raleway',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'raleway',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}



/*footer*/
.footer{background:#1a191a;padding-bottom:20px;padding-top:20px;color:#fff}
footer aside.widget{ background: none; border:0; padding: 0 20px 0; margin-bottom: 10px;}
.footer a{color:#fff}
.footer a:hover{text-decoration:underline}
.footer .widget-title{border-bottom:1px solid #ffffff; color:#00bded;font-size:18px;font-weight:300;line-height:1;position:relative;text-transform:uppercase;padding-left:28px;margin:0 0 25px; padding-bottom: 10px;}
.footer ul{list-style:outside none none;padding-left:0}
.footer ul li{font-size:13px;font-weight:normal;line-height:20px;position:relative;text-transform:capitalize;border-bottom:none;margin-bottom:7px;padding-bottom:7px;width:95%; list-style: none;}
.footer aside.widget ul.sub-menu { padding-top: 12px; margin-bottom: -15px;}
.title-median{color:#636363;font-size:20px;line-height:20px;margin:0 0 15px;text-transform:uppercase}
.gallery dl img{ width: 100%; height: auto; }
#gallery-1 .gallery-item{ margin-bottom: 0; margin-bottom: 3px; }

.nomargin{margin:0;padding:0}
.footer-bottom{background-color:#004a7a;min-height:30px;width:100%; padding:5px 0;}
.copyright{color:#fff;line-height:30px;min-height:30px;}
.design{color:#fff;line-height:30px;min-height:30px;}
.design a{color:#fff}


/*comment */
#comments { clear: both;  padding: 10px 0;}
.comments-title { font-size: 20px; margin-bottom: 1.5em;}
.comment-list,
.comment-list .children { list-style: none; margin: 0;  padding: 0;}
.comment-list li:before { display: none;}
.comment-body { margin-left: 65px;}
.comment-author { font-size: 16px;  margin-bottom: 0.4em; position: relative; z-index: 2;}
.comment-author .avatar { height: 50px; left: -65px;  position: absolute; width: 50px;}
.comment-author .says { display: none;}
.comment-meta { margin-bottom: 1.5em;}
.comment-metadata { color: #767676; font-size: 10px;  font-weight: 800; letter-spacing: 0.1818em; text-transform: uppercase;}
.comment-metadata a { color: #767676;}
.comment-metadata a.comment-edit-link { color: #222;  margin-left: 1em;}
.comment-body { color: #595959; font-size: 15px;  margin-bottom: 4em;}
.comment-reply-link { font-weight: 800; position: relative;}
.comment-reply-link .icon { color: #222;  left: -2em; height: 1em;  position: absolute; top: 0; width: 1em;}
.children .comment-author .avatar { height: 30px; left: -45px;  width: 30px;}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar { border: 1px solid #595959;  padding: 2px;}
.no-comments,.comment-awaiting-moderation { color: #767676; font-size: 14px;  font-size: 0.875rem;  font-style: italic;}
.comments-pagination {  margin: 2em 0 3em;}
.form-submit {  text-align: right;}

/* header top social */
.header-social-top {    background-color: rgba(0,0,0,0.4); color: #ffffff; padding: 4px 0;}

.header-social-top ul{ margin-bottom: 0; margin-top: 0; }
.list-space li{ padding-right: 20px; }
.list-space li:last-child {  padding-right: 0;}
.header-social-top li a{ color: #ffffff; }

/* top header */
.header-top {
    background:inherit;
    color: #fff;
    line-height: normal;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    padding:  0;
    margin: 0;
}
.header-top .left {
    text-align: left;
}
.header-top .rightsphone {
    text-align: right;
}


.header_middle ul{ text-align: center; display: inline-block;  margin: 0; padding: 0;}
.header_middle li{ list-style: none; text-align: center; display: inline-block;  margin-right: 15px;}
.header_middle li.lastemail{ margin-right: 0; }
.social-icons{ text-align: right; }
.social-icons a {
    color: #0073AA;
    border-color: #00bded;
    border-radius: 0%;
}
.social-icons li {
    text-align: center;
    display: inline-block;
}
.social-icons ul {
    display: inline-block;
    text-align: center;
    margin: 0;
}
.social-icons a.fa {
    width: 35px;
    height: 35px;
    border-radius: 0;
    line-height: 33px;
    text-align: center;
    border: 1px solid #d0d0d0;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    margin: 0 4px 0 0;
    color: #d0d0d0;
}

.rightsphone span.phno {
    padding-right: 10px;
    margin-right: 5px;
}

/*header menu css*/
#main_navigation{background: rgba(0,0,0,0.4); margin-top:10px;}
#maintopdiv{background: none; z-index: 999; position: absolute; width: 100%;}
.toggle{display: block;}
.toggle a{width:100%; color:#fff; background:#00bded; padding:10px 10px; margin-top:0; font-size:16px; text-align:center;}
.toggle a:hover{color:#fff !important;}
.main_header{width:100%; z-index:999999; top:0; background-color:#2C2C2C; box-shadow:0 2px 2px #F6F4F4; }
.logotxt, .logotxt a { color:#ffffff; text-decoration: none; text-transform:capitalize; }
.logotxt h1 a{font-size: 33px;}
.logotxt h1{margin: 8px 0 2px 0;}
.logotxt p{ color:#ffffff; margin-bottom: 0; line-height: 23px; }
.headercommon {   padding:  0 0;}
.leftlogo{ text-align:center;}
.header-left{ text-align:left; margin-right:0;}
.header-left ul{ margin:0; padding:0; list-style:none;}

.header-left li {padding: 0 0 0 0;float: left; color:#d0d0d0;}
.lastemail{ margin:0 0 0 25px;}
.header-left .fa{color:#00bded; font-size:24px;}

/*banner */
.carousel-indicators li.active {    background: #000;    border: 1px solid #fff;}
.carousel-indicators li{background: #fff; border: 1px solid #fff;}
.carousel-indicators {    bottom: 0;}

/* our resources */
#hompagecontent{border-bottom: 1px solid #ccc;
                padding: 0 0 40px 0;margin:auto 0 20px ;
}
#hompagecontent .mainbox {  }
#hompagecontent .img-thumbnail{ padding: 0; border-radius: 0; }
#hompagecontent h3 {  text-transform: capitalize; margin-top: 10px; font-size: 18px; text-align: left;}
.ourresources h2{font-size: 32px;color: #595959; text-transform: capitalize; padding: 18px 0; text-align: center; letter-spacing: normal;}
.ourresources a{ text-decoration: none;  }
.ourresources p{ font-size: 13px; text-align: left;}
.ourresources .readmore{ background: #00bded; }
#mainheader {    margin: 57px 0 0 0;    position: absolute;    z-index: 999;    opacity: 0.90;}
.mainbox a .caption{ display: none; }
.mainbox a:hover .caption { display: block; margin: -149px 0 0 0; z-index: 999; background:rgba(0,0,0,0.65);  position: relative; color: #fff;}
.mainbox .thumbnail{border: none;border-radius: 0; padding: 0; margin-bottom: 0;}
.mainbox .img-thumbnail{border:0;}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus, a.screen-reader-text[href]:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    text-align: center;

    font-weight: bold;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: 360px;
    z-index: 100000;
    text-transform: capitalize;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.sitenav ul li a:focus {    color: #00bded;}
a[href]:focus {    background: #1864ab;    color: #fff;   }
.headercommon li a.fa:focus{ color: #ffffff;background: #364558; padding:5px;  }
#sidebar ul li a:focus{ color:#ffffff; background: #00bded;}
.header_top .logo a:focus{background: #f8f8f8;
                          background:
                              rgba(75%, 75%, 75%, .25);
                          border-bottom-width: 3px;
                          margin-bottom: -2px;}

.recent_articles a[href]:focus, #sidebar ul li.recentcomments a.url:focus{
    background-color:#00bded; color: #ffffff;padding: 5px !important;
}
.top-headerphone-email{}
.header-social-top ul.bottom-headerphone-email{margin-top:-8px;}
.header-social-top .list-inline  li, .header-social-top .list-inline  li a{ color: #ffffff; text-decoration:none; font-size:15px;}
.header-social-top .list-inline  li a:hover{ color: #ffffff; }
.header-social-top .list-inline  li i{ color: #ffffff;}
.header-social {padding:9px 0 0 0;}
.header-social li{padding:0;}
.header-social li a{color: #00bded;}
.header-social li a:hover{color: #ffffff;border-color: #00bded;background-color: #00bded;}
.header-social li a{color: #ffffff;border-color: #00bded;background-color: none;}
.headerphone{ margin-right:21px;}
.header-social-top li i {
    
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 0;
}
.header-social-top li i {
    color: #4f87fb;
    font-size: 20px;
}
.header-social li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    border: none ;
    vertical-align: middle;
    display: inline-block;
    transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    font-size: 14px;
    margin: 0 ;
    text-decoration:none;
}

.header-social-top .header-social ul {
    margin-bottom: 0;
    margin-top: 5px;
}
/*.sitenav{display:block;}


/* menu accessibility */
#main_navigation .nav {
    font-family:'raleway', sans-serif; font-weight:400; font-size:15px; text-transform:capitalize;
}
#main_navigation .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#main_navigation .nav ul li {
    float: left;
    position: relative;  
}
#main_navigation .nav ul li a{padding:19px; color:#ffffff; font-weight:600; border-right:none;}
#main_navigation .nav ul li a:hover{color: #ffffff;
border-color: #ffffff;
background-color: rgba(0,189,237,0.8);}
#main_navigation .nav ul li:hover, #main_navigation .nav ul li.hover {  z-index: 100;}
#main_navigation .nav ul li:hover ul, #main_navigation .nav ul li.hover ul { left: 0;}

#main_navigation .nav ul ul li:hover ul{left: 169px;    top: 0;}
#main_navigation .nav ul li:hover ul li:hover > ul,
#main_navigation .nav ul li.hover ul li.hover > ul,
#main_navigation .nav ul li:focus ul li:focus > ul {
    display: block;
    position: absolute;
    left: 168px;
    top: 1px;
}
#main_navigation .nav ul li:hover ul ul,
#main_navigation .nav ul li:hover ul ul ul,
#main_navigation .nav ul li:hover ul ul ul ul,
#main_navigation .nav ul li:focus ul ul,
#main_navigation .nav ul li:focus ul ul ul,
#main_navigation .nav ul li:focus ul ul ul ul,
#main_navigation .nav ul li.hover ul ul,
#main_navigation .nav ul li.hover ul ul ul,
#main_navigation .nav ul li.hover ul ul ul ul
{
    left: -9999em;
}


#main_navigation .nav ul li:hover ul a, #main_navigation .nav ul li.hover ul a {
    background: white;
    color: #444444;
    padding: 5px 10px;
    width: 168px;
    text-shadow: none;
    margin-top: -1px;
    /* collapses top border */
    border-right:0;
    
}
#main_navigation .nav ul li:hover ul a:hover,#main_navigation .nav ul li.current_page_item a , #main_navigation .nav ul li.hover ul a:hover, #main_navigation .nav ul li:hover ul a:focus, #main_navigation .nav ul li.hover ul a:focus, #main_navigation .nav ul li:hover ul a:active,#main_navigation .nav ul li.hover ul a:active {
    color: #ffffff;
border-color: #ffffff;
background-color: rgba(0,189,237,0.8);
    
}
#main_navigation .nav ul a {
    background: none;
    color: #444444;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
    padding: 10px;
    display: block;
    position: relative;
    margin-left: -1px;
    /* collapses the left border */
}
#main_navigation .nav ul a:hover, #main_navigation .nav ul a:focus, #main_navigation .nav ul a:active, #main_navigation .nav ul li.hover a {
    /* <- keeps the tab hover state on as the dropdown gets explored */
    color: #ffffff;
    border-color: #00bded;
    
}
#main_navigation .nav ul ul,  #main_navigation .nav ul ul ul{
    position: absolute;
    top: 100%;
    left: -9999em;
    width: 180px;
}
#main_navigation .nav ul ul li, #main_navigation .nav ul ul ul li {
    float: none;
    position: static;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*.sitenav ul li:hover > ul, .sitenav ul li:focus > ul{ width:200px;  visibility: visible; left:0; text-align:left; background-color:#fff;  box-shadow:0 2px 2px #595959; }
*//*extra classes */
.entry-content img {  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft { margin-right: 1.5em;  display: inline;  float: left;  }
.alignright, img.alignright { margin-left: 1.5em; display: inline;  float: right; }
.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto;  display: block; clear: both;  }
.alignnone, img.alignnone {
    /* not sure about this one */
}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}  
.wp-caption { margin-bottom: 1.5em; text-align: center; padding-top: 5px; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; width: 100%}
.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px;  margin: 0;  }
.wp-smiley {  margin: 0 !important; max-height: 1em;  }
blockquote.left { margin-right: 20px; text-align: right;  margin-left: 0; width: 33%; float: left;  }
blockquote.right {  margin-left: 20px;  text-align: left; margin-right: 0;  width: 33%; float: right; }

@media (max-width: 1024px) {
    .copyright{text-align: center;}
    .design{text-align: center;}
}
@media (max-width: 767px) {
    .navbar-toggle{ background-color: #fff; }
    .icon-bar{ color: #fff; }
    .form-inline{ margin: 0 0 15px; }
    .dropdown-menu > li > a{color: #fff; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ color: #fff; background-color: #000; }
    .logotxt{ margin: 0 0 0 20px; }
    .social-icons{ text-align: center; }
    .header-top .rightsphone {  text-align: center;}
    .header-left li { float: none;  } 
    .recent_articles{ width:100%;}
}
@media (max-width: 340px) {

}
@media (max-width: 1100px) {
    .mainwidth {  margin: 0 auto;  width: 100%;}
    .carousel-caption{ bottom: 150px; }
}
@media (max-width: 992px) {
    h3.style2{ font-size:30px;}
    .logotxt, .logotxt a{text-align:center;}
    .header-social-top ul{text-align:center;}
    .header-social{text-align:center;}
    .fourbox{ width:45%;}
    .threebox{width:45%;}
    #maintopdiv{ position: relative; }
    .header-top {background:#333333}
    .headercommon{  text-align: center; padding: 3px 0; }
    .social-icons ul{ padding: 0; }
    #main_navigation {  background: none;}
    section#header{padding:0 0 11px;}
    .blog-post {
        padding: 20px;
    }
    #main_navigation .togglemenu{display: block;}
    #main_navigation .sitenav{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; border-radius:0; top:0; border-bottom:none; }
    #main_navigation .nav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0; left: 0 !important; z-index: 999;}
    #main_navigation .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left; border-bottom:1px solid #cccccc;}
    #main_navigation .nav ul li a{padding:5px 10px !important; display:block; color:#000; border:none;}
    #main_navigation .nav ul li a:hover {color:#ffffff;  border:none !important;}
    #main_navigation .nav ul li.current_page_item a{border:none !important; }
    #main_navigation .nav ul li ul,
    #main_navigation .nav ul li.hover ul,
    #main_navigation .nav ul li:focus ul, 
    #main_navigation .nav ul li ul ul,
    #main_navigation .nav ul li.hover ul ul,
    #main_navigation .nav ul li:focus ul ul{ display:block !important;}
    #main_navigation .nav ul li ul li a:before{content:"\00BB \00a0";}
    #main_navigation .nav ul li ul li a{ border:none;}
    #main_navigation .nav ul li:hover ul a, #main_navigation .nav ul li.hover ul a{ width: 100%; }


    #main_navigation .nav ul ul, #main_navigation .nav ul ul ul { position: relative; top: 0; width: auto;}
    #main_navigation .nav ul li:hover ul, 
    #main_navigation .nav ul li.hover ul,
    #main_navigation .nav ul li:focus ul{}
    #main_navigation .nav ul ul li:hover ul,
    #main_navigation .nav ul ul li.hover ul,
    #main_navigation .nav ul ul li:focus ul 
    {

        top: 0;
    }

    #main_navigation .nav ul li:hover ul li:hover > ul,
    #main_navigation .nav ul li.hover ul li.hover > ul,
    #main_navigation .nav ul li:focus ul li:focus > ul {
        display: block;
        position: relative;

        top: 0;
    }
    #main_navigation .nav ul li:hover ul ul,
    #main_navigation .nav ul li:hover ul ul ul,
    #main_navigation .nav ul li:hover ul ul ul ul,
    #main_navigation .nav ul li:focus ul ul,
    #main_navigation .nav ul li:focus ul ul ul,
    #main_navigation .nav ul li:focus ul ul ul ul,
    #main_navigation .nav ul li.hover ul ul,
    #main_navigation .nav ul li.hover ul ul ul,
    #main_navigation .nav ul li.hover ul ul ul ul
    {

    }



    #main_navigation .nav ul li:hover ul a, #manain_navigation .nav ul li.hover ul a {
        width: 100%; margin-top: auto; }
    #main_navigation .sitenav ul li{border: none;}
    .nav ul ul, .nav ul ul ul{position: relative; left: 1px;}
    .leftlogo{ text-align: center;  }
    .rightmenu{width: 100%;margin: 0 0 4px 0; }
    .header-left li{ float: none; color:#000;}
    .logotxt p{ color: #ffffff; }
    .social-icons a.fa{ border-color: #000; color: #000; }
    a.togglemenu[href]:focus{ background-color: #595959; color: #ffffff; }
    .header-social-top{background-color:#000;}
    .threebox{ margin-bottom:10px;}
}
@media (max-width: 766px) {
    .logotxt, .logotxt a{ text-align:center;}
    .header-phone-email{text-align:center;}
    #main_navigation .nav ul li.current_page_item a{background: none; color:#000;}
}
@media (max-width: 500px) {
    .fourbox{ width:95%; margin-bottom:10px;}
    .threebox{width:95%; margin-bottom:10px;}

}